<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Inicio de sesion</title>
</head>
<body class="bg">
    <main class="container-fluid">
        <div class=" m-5" >     
            <img src="../images/fitness.ico" 
            alt="logo" class="img-fluid m-auto" style="width: 180px; border-radius: 400px;" >
            <h1 class=" text-center text-light mt-4   mb-4"> Recuperación de contraseña: </h1>                            
     </div> <!---header-->
        <section class="row vh-100 justify-content-center">
            <div class="col-md-8">
                    <form action="#" method="post">
                        <div class="form-group  input-group-lg">
                            <input type="email" class="form-control text-dark bg-input " placeholder="E-mail">
                        </div> <!--for-group password-->
                            <button class="btn bg-button btn-block btn-lg  text-light ">Recuperar Contraseña</button>
                    </form> 
                </div> <!-- body-->
         </section>

         
    </main> <!--container-->
    
</body>
</html>