<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion de contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h3 class="text-info"></h3>



    <ul class="list-group d-inline-block align-self-center">

        <li class="list-group-item bg-dark text-light ">
            <img src="https://i.ibb.co/xg8s0nG/fitness.jpg" width="60" height="60" style="border-radius: 100%;"
                class="d-inline-block align-top" alt="">
           <b class="">Recuperación de contraseña</b> 
        <li class="list-group-item">Usuario: "'.$email.'"</li>
        <li class="list-group-item">Contraseña: "'.$clave.'"</li>
        <li class="list-group-item"> <a href="http://localhost/vertical/?controller=login"
                class="btn btn-primary">Iniciar Sesión</a></li>

    </ul>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>