<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table style="border: 1px solid black;width: 100%;">
        <thead>
            <tr>
                <td style="text-align: center;background: #011E67;color:#e9e8e8" colspan="2">
                    <h1><b>Señor '.$nombres.' hemos recuperado la contraseña de su cuenta</b></h1>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;" width="20%">
                    <img src="https://i.ibb.co/xg8s0nG/fitness.jpg"  style="border-radius: 100%;"
                    class="d-inline-block align-top" alt="logo">
                </td>
                <td style="text-align: left;"><span style="font-size: 25px;"> Usuario: "'.$email.'" <br>Contraseña: "'.$clave.'
                    
                    <br>
                    <br>
                    <a href="http://localhost/vertical/?controller=login"
                style="border: 1px solid; border-radius:5px; background: #011E67;text-decoration: none; color:#e9e8e8; font-size:22px; padding:3px; font-weight:25px;"" >Iniciar Sesión</a>
                </span></td>
            </tr>
        </thead>
    </table>
</body>
</html>